body {
  margin: 0;
  padding: 0;
  background-image: url(../img/japan1.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

h2 {
  font-size: 2.8rem;
}

h5 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.4rem;
}

.nav {
  width: 60%;
  height: 60px;
  background: #f8f3da;
  color: #000;
  border: 1px solid #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 0;
  align-items: center;
  text-align: center;
}
.nav .left-header, .nav li {
  display: inline-block;
  margin: 20px;
}
.nav .right-header, .nav li {
  display: inline-block;
  margin: 20px;
}
.nav h1 {
  text-align: center;
  font-size: 2rem;
}
.nav .btn-sign-up {
  height: 62px;
  background: #fff;
  border-bottom: 1px solid red;
  position: absolute;
  top: 0%;
  left: 80%;
}
.nav a {
  text-decoration: none;
  color: #000;
}

.container {
  color: #fff;
  position: absolute;
  top: 60%;
  left: 5%;
}
.container .btn-ticket {
  background-color: #ff7402;
  border: 1px solid transparent;
  border-radius: 3px;
  width: 8rem;
  height: 2.4rem;
  color: #fff;
  margin: 5px;
}
.container .btn-arrows {
  background: #fff;
  color: #000;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.container ul {
  margin: 25rem 0 0 40rem;
  border-bottom: 2px solid #ff7402;
}

.locations {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 50%;
}
.locations hr {
  width: 80%;
}
.locations li {
  font-size: 2.6rem;
  list-style: none;
  font-weight: 300;
  color: #ffffff;
  display: inline-block;
  margin-right: 10%;
}

/*# sourceMappingURL=main.css.map */
